@import "../styles/variables";



.singlePostWrapper {
    display: grid;
    /* There will be 3 columns, each 200px wide */
    grid-template-columns: .65fr;
    /* There will be 2 rows, each 250px high */
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
    
    height: 100%;
    padding: 0;
}

.postContent {    
    h1 {
        text-align: center;
        margin:3rem 0 0 0;
        color:$gold;
        font-weight: 400;
    }

    h5 {
        text-align: center;
        margin:1rem 0 0 0;
        // line-height: 3rem;
        color:$itemPoor;
        text-transform: uppercase;
        font-weight: 400;
    }

    .screenshot {
        display: block;
        position: relative;
        margin:2.5rem auto;
        width:60%;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        
        border: 1px solid $gold;
        border-radius: 13px;

        transition:all .3s ease-in-out;
        -webkit-transition:all .3s ease-in-out;
        -moz-transition:all .3s ease-in-out;
        -ms-transition:all .3s ease-in-out;
        -o-transition:all .3s ease-in-out;

        -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.35), 0 0 26px rgba(0,0,0,0.20);
        -moz-box-shadow: 0 0 6px rgba(0,0,0,0.35), 0 0 26px rgba(0,0,0,0.20);
        box-shadow: 0 0 6px rgba(0,0,0,0.35), 0 0 26px rgba(0,0,0,0.20);

    }
    .screenshot:hover {
        transform:scale(1.02);
        -webkit-transform:scale(1.02);
        -moz-transform:scale(1.02);
        -ms-transform:scale(1.02);
        -o-transform:scale(1.02);
        -webkit-box-shadow: 0 10px 6px rgba(0,0,0,0.35), 0 0 26px rgba(0,0,0,0.20);
        -moz-box-shadow: 0 10px 6px rgba(0,0,0,0.35), 0 0 26px rgba(0,0,0,0.20);
        box-shadow: 0 10px 6px rgba(0,0,0,0.35), 0 0 26px rgba(0,0,0,0.20);
        border-radius: 13px;
    }

    .mdContent {
        h4 {
            text-align: center;
            font-weight: 300;
            margin-bottom: 2rem;
            margin-top:.7rem;
            padding:0;
        }

        h3 {
            text-align: center;
            font-weight: 300;
            padding-top: 1rem;
        }

        ol {
            list-style: none;
            margin-top: 3rem;
            li {
                line-height: 2rem;
            }
        }
        

    }
}
.homeLink{
    font-size: 4rem;
    margin:0 auto;
    padding:0;
    margin-top: 2rem;
    margin-bottom:2rem;
    color:$itemPoor;
    &:hover{
        color:$gold;
    }
    
}



