@import "../styles/variables";

$ease_snap: cubic-bezier(0,.56,.76,1.3);
$ease_out: cubic-bezier(0.23, 1, 0.32, 1);  

@mixin transition($property: all, $duration: 0.3s, $timing: linear, $delay: unquote("")){
  -moz-transition: unquote($property) $duration $timing $delay;
  -o-transition: unquote($property) $duration $timing $delay;
  -webkit-transition: unquote($property) $duration $timing $delay;
  transition: unquote($property) $duration $timing $delay;
}
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
@mixin background-opacity($color, $opacity: 0.3) {
  background-color: $color; /* The Fallback */
  background-color: rgba($color, $opacity);
}
@mixin keyframe ($animation_name) {
  @-webkit-keyframes #{$animation-name} {
      @content;
  }

  @-moz-keyframes #{$animation_name} {
      @content;
  }

  @-o-keyframes #{$animation_name} {
      @content;
  }

  @keyframes #{$animation_name} {
      @content;
  }
}
@mixin animation ($delay, $duration, $animation) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-name: $animation;
  -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

.galContainer {
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(6, 1fr);
  padding: 1rem 1rem 1rem 1rem;
  grid-auto-flow: dense; 
}

.galContainer:before {
  content: '';
  height:0;
  width:100%;
  padding-bottom: 100%;
  grid-column: 1 / 1;
  grid-row: 1 / 1
}



.galContainer a:first-child {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

/**
  every 3rd item takes up 2 blocks horizontally (2 x 1)
**/
.galContainer a:nth-child(7n) {
  grid-row: span 2;
}

/**
  every 4th and 7th item takes up only 1 block (1 x 1),
  to overwrite the previous 3n rule
**/
.galContainer a:nth-child(4n),
.galContainer a:nth-child(3n) {
  grid-column: span 1;
  grid-row: span 1;
}

/**
  every 5th item takes up 2 blocks vertically (1 x 2),
  also every 15th block will be a big one (2 x 2)
**/
.galContainer a:nth-child(5n) {
  grid-column: span 2;
}
// .galContainer a:nth-child(9n) {
//   grid-column: span 2;
//   grid-row: span 2;
// }




// .galContainer {
//   padding: 1rem 1rem 0 1rem;
//   display: grid;
//   grid-gap: .5rem;
//   //grid-column-gap: 5px;
//   grid-template-columns: repeat(4, 1fr);
//   grid-template-rows: auto auto auto min-content;
  
//   //grid-template-rows: repeat(auto, 400px);
//   height:100%;
//   margin:0;
//   margin-top:0;
  
//   grid-template-areas: 
//     "img1 img1 img2 img3"
//     "img4 img5 img6 img6"
//     "img4 img7 img7 img8"
//   ;
// }

// .img1 {
//   grid-area: img1;
// }
// .img2 {
//   grid-area: img2;
// }
// .img3 {
//   grid-area: img3;
// }
// .img4 {
//   grid-area: img4;
// }
// .img5 {
//   grid-area: img5;
// }
// .img6 {
//   grid-area: img6;
// }
// .img7 {
//   grid-area: img7;
// }
// .img8 {
//   grid-area: img8;
// }

.galContainer > a {
  object-fit: fill;
}

.galContainer > a > div {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    object-fit: cover;

    border: 1px solid $bg-dark;


    transition:all .3s ease-in-out;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;

    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.35), 0 0 6px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.35), 0 0 6px rgba(0,0,0,0.20);
    box-shadow: 0 2px 3px rgba(0,0,0,0.35), 0 0 6px rgba(0,0,0,0.20);
    
}
.galContainer > a > div:hover {
   transform:scale(1.02);
    -webkit-transform:scale(1.02);
    -moz-transform:scale(1.02);
    -ms-transform:scale(1.02);
    -o-transform:scale(1.02);
    -webkit-box-shadow: 0 10px 6px rgba(0,0,0,0.35), 0 0 26px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 10px 6px rgba(0,0,0,0.35), 0 0 26px rgba(0,0,0,0.20);
    box-shadow: 0 10px 6px rgba(0,0,0,0.35), 0 0 26px rgba(0,0,0,0.20);
    border:1px solid $gold;
    
    z-index:1;
}




.gallerypagination {
    
  display: inline-block;
  text-align: center;
  
  grid-column-start: 1; 
  grid-column-end: 5;

  .gallerybtn {
      position: relative;
      z-index: 1;
      display: inline-block;
      vertical-align: middle;
      margin: 16px;
      padding: 14px 18px;
      text-decoration: none;
      text-transform: uppercase;
      color: #ffffff;
      font-size: .8rem;
      font-weight: 500;
      letter-spacing: 1px;
      outline: none;
      overflow: hidden;
      border: none;
      background: none;
      bottom: .8rem;
  }
  .gallerybtnMove {
      position: relative;
      border-radius: 0;
      border:1px solid $gold;
      transition: border .2s linear;
      padding: 0;
      color: $offwhite;
      span {
          transition: transform .6s $ease_out, opacity .1s linear;
          display: block;
      }
      span:first-child {
          padding: 14px 18px;
      }
      span:last-child {
          padding: 14px 0;
          position: absolute;
          z-index: 2;
          width: 100%;
          height: 100%;
          text-align: center;
          top: 0;
          right: 0;
          opacity: 0;
          color: #000;
          background: $gold;
      }
  }
  .gallerybtnMove2 {
      span:last-child {
          transform: translate(-15%,0);
          font-size: 24px;
          line-height: 42px;
          padding:0;
      }
      &:hover {
          border-color: $gold;
          span:first-child {
              transform: translate(15%,0);
              opacity: 0;
          }
          span:last-child {
              transform:translate(0,0);
              opacity: 1;
          }
      }
  }
}



@media only screen and (max-width: 769px){

  .galContainer {
    grid-template-columns: 1fr;
  }

  .galContainer a:first-child {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
  
  /**
    every 3rd item takes up 2 blocks horizontally (2 x 1)
  **/
  .galContainer a:nth-child(7n) {
    grid-row: span 1;
  }
  
  /**
    every 4th and 7th item takes up only 1 block (1 x 1),
    to overwrite the previous 3n rule
  **/
  .galContainer a:nth-child(4n),
  .galContainer a:nth-child(3n) {
    grid-column: span 1;
    grid-row: span 1;
  }
  
  /**
    every 5th item takes up 2 blocks vertically (1 x 2),
    also every 15th block will be a big one (2 x 2)
  **/
  .galContainer a:nth-child(5n) {
    grid-column: span 1;
  }
  .gallerypagination {
    grid-column-start: 1; 
    grid-column-end: 2;
  }

}


@include keyframe(fadeIn) {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@include keyframe (fadeInUp) {
  0% {opacity: 0; margin-top: 2em;}
  100% {opacity: 1; margin-top: 0;}
}

@include keyframe (fadeOut){
  0% {opacity: 1}
  99.99%{display:block}
  100%{display: none}
}