@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

$icomoon-font-family: "zero" !default;
$icomoon-font-path: "~/fonts" !default;

$icon-alliance: "\e900";
$icon-raiderio: "\e901";
$icon-wow: "\e902";
$icon-hearthstone: "\e903";
$icon-warcraftlogs: "\e904";

$dk: #c41f3b;
$dh: #a330c9;
$druid: #ff7d0a;
$hunter: #abd473;
$mage: #69ccf0;
$monk: #00ff96;
$paladin: #f58cba;
$priest: #ffffff;
$rogue: #fff569;
$shaman: #0070de;
$warlock: #9482c9;
$warrior: #c79c6e;

$chatGeneral: #fec1c0;
$chatSystemMessages: #ffff00;
$chatGuild: #3ce13f;
$chatOfficer: #40bc40;
$chatParty: #aaabfe;
$chatPartyLeader: #77c8ff;
$chatLinkedSpells: #67bcff;
$chatSay: #ffffff;
$chatWhisper: #ff7eff;
$chatYell: #ff3f40;
$chatEmote: #ff7e40;
$chatInstance: #ff7d01;
$chatInstanceLeader: #ff4709;
$chatRaidWarning: #ff4700;
$chatAchievement: #fffc01;
$chatBattleNetWhisper: #00faf6;
$chatBattleNetConversation: #00adef;

$itemPoor: #889d9d;
$itemCommon: #ffffff;
$itemUncommon: #1eff0c;
$itemRare: #0070ff;
$itemSuperior: #a335ee;
$itemLegendary: #ff8000;
$itemHeirloom: #e6cc80;

$alliance: #162c57;
$alliance_rgb: rgb(22, 44, 87);

$bg-dark: #1a1c22;
$bg-body: #1e232a;
$bg-body-darker: rgba(23, 28, 35, 0.5);
$bg-light: #393944;

$gold: #d3ba86;
$gold-rgb: rgb(211, 186, 134);
$offwhite: #f8f8ff;

$mint: #9cfada;
$grun: #009c41;
$battlenetLogo: url(../images/battlenet.svg);
