@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$dk: #C41F3B;
$dh: #A330C9;
$druid: #FF7D0A;
$hunter: #ABD473;
$mage: #69CCF0;
$monk: #00FF96;
$paladin: #F58CBA;
$priest: #FFFFFF;
$rogue: #FFF569;
$shaman: #0070DE;
$warlock: #9482C9;
$warrior :#C79C6E;

$chatGeneral: #FEC1C0;
$chatSystemMessages: #FFFF00;
$chatGuild: #3CE13F;
$chatOfficer: #40BC40;
$chatParty: #AAABFE;
$chatPartyLeader: #77C8FF;
$chatLinkedSpells: #67BCFF;
$chatSay: #FFFFFF;
$chatWhisper: #FF7EFF;
$chatYell: #FF3F40;
$chatEmote: #FF7E40;
$chatInstance: #FF7D01;
$chatInstanceLeader: #FF4709;
$chatRaidWarning: #FF4700;
$chatAchievement: #FFFC01;
$chatBattleNetWhisper: #00FAF6;
$chatBattleNetConversation: #00ADEF;

$itemPoor: #889D9D;
$itemCommon: #FFFFFF;
$itemUncommon: #1EFF0C;
$itemRare: #0070FF;
$itemSuperior: #A335EE;
$itemLegendary: #FF8000;
$itemHeirloom: #E6CC80;

$alliance: #162c57;
$alliance_rgb: rgb(22, 44, 87);

$bg-dark: #1a1c22;
$bg-body: #1e232a;
$bg-body-darker: rgba(23, 28, 35, .5);

$gold: #D3BA86;
$offwhite: #f8f8ff