@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html, body {
    background-color: #4b4b4b;
    font-family: 'Lato', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.9fr 0.2fr 2.2fr 0.2fr;
    gap:0;
    grid-template-areas:
        "bigTop bigTop bigTop bigTop bigTop"
        "navbar navbar navbar navbar navbar"
        "sidebar content content content content"
        "sidebar footer footer footer footer";
    
}
  
.bigTop { 
    grid-area: bigTop; 
    background-color: red;
}
  
.navbar {
    grid-area: navbar;    
    background-color: salmon;
  }
  
.sidebar { 
    grid-area: sidebar; 
    background-color: blue;
}
  
.content { 
    grid-area: content; 
    background-color: yellow;
    padding: 0 1rem;
}

.footer { 
    grid-area: footer;
    background-color: purple;
 }

 @media only screen and (max-width: 768px){
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1.1fr 0.2fr 2.2fr 0.5fr;
        grid-template-areas:
            "bigTop"
            "navbar"
            "content"
            "sidebar"
            "footer"
            
    }
 }