@import "../styles/variables";

.posts {
    list-style-type: none;
    padding:0;
    border: 1px solid red;    
    width: 50%;
    margin: 0 auto;
}

.post {
    //border-top: 1px solid $gold;
    margin: 0;
    // background: $bg-dark;
    // background-image: -webkit-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
    // background-image: -moz-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
    // background-image: -o-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
    // background-image: radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 15vh;
    // font-size: 2rem;

    .desc {
        font-weight: 400;
        font-size: .7rem;
    }
    
    button {
        padding: 15px 35px;
        margin: 50px 10px;
        border: 2px solid $gold;
        background: none;
        display: inline-block;
        cursor: pointer;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        -webkit-transition:  all 0.8s;
        -moz-transition:  all 0.8s;
        transition:  all 0.8s;

        p {
            margin:0;
            padding: 0;
            padding-top:.8rem;
        }

        a{
            color: $offwhite;
            
        }
    }

    button:hover{
        a, .desc {
        color: #000;}
      }

    .btnHover::before,
    .btnHover::after {
        content: "";
        background: $gold;
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        width:100%;
        height: 0;
        -webkit-transition:  all 0.8s;
        -moz-transition:  all 0.8s;
        transition:  all 0.8s;
    }
    .btnHover:hover:before {
        height: 100%;
    }
    .btnHover:hover:before {
        height: 100%;
    }
    
    .desc {
        font-weight: 400;
        font-size: .7rem;
    }
    
}

.wrapper {
    display: grid
}

@media only screen and (max-width: 769px){
    .post {
        height: 500px;
        
    }

    button {
       bottom:-160px;
    }

}
