@import "../styles/variables";

.rosterSiteWrapper {
  display: grid;
  height: 100%;
  padding: 0;
  //background-color: yellow;
  grid-template-columns: 0.8fr;
  grid-template-rows: auto;

  //margin: 0 auto;
  justify-content: center;
  align-content: center;

  text-align: justify;
  letter-spacing: 0.05rem;

  margin-bottom: 3rem;

  h2 {
    padding-top: 2rem;
    color: $gold;
  }

  p {
    font-size: 1.1rem;
    line-height: 2.2rem;
    font-weight: 300;
  }
}

.rosterWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

@media only screen and (max-width: 1025px) {
  .rosterWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 426px) {
  .rosterWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
