@import "../styles/variables";

$nathriaDown: 5;
$nathriaMax: 10;
$nathriaMaxPerc: (100% / $nathriaMax);

$nathriaProgressRight: ($nathriaMax - $nathriaDown ) * $nathriaMaxPerc;
$nathriaProgressWidth: $nathriaDown * $nathriaMaxPerc;

//Castle Nathria Progress


.progressContainerNathriaNull {
    // position:absolute;
    // content:"";
    // top:0;
    // right:0; // (max - down) *max%
    //     width:0; // down * max%
    // height:100%;
    // background-image:url(../images/progress/nathria.png);
    // background-position:top left;
    // border-right: 1px $gold solid;
    // border-left: 1px $gold solid;
    color:green;
}

.test{
    color:purple;
}



.progressContainer {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

.progressContainerNathria {
    position:relative;
    display:block;   
    border: 1px solid$gold;
    margin-left: 10px;
    margin-right: 10px;
}

.imageGrey {
    display:block;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.progressContainerNathria:after {
    position:absolute;
    content:"";
    top:0;
    right:$nathriaProgressRight; // (max - down) *max%
        width:$nathriaProgressWidth; // down * max%
    height:100%;
    background-image:url(../images/progress/nathria.png);
    background-position:top left;
    border-right: 1px $gold solid;
    border-left: 1px $gold solid;
}