@import "../styles/variables";

$nathriaDown: 5;
$nathriaMax: 10;
$nathriaMaxPerc: (100% / $nathriaMax);

$nathriaProgressRight: ($nathriaMax - $nathriaDown ) * $nathriaMaxPerc;
$nathriaProgressWidth: $nathriaDown * $nathriaMaxPerc;


.progressContainer {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

.progressContainerNathria {
    position:relative;
    display:block;   
    border: 1px solid$gold;
    margin-left: 10px;
    margin-right: 10px;
}

.imageGrey {
    display:block;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.progressContainerNathria::after {
    position:absolute;
    content:"";
    top:0;
    right:$nathriaProgressRight; // (max - down) *max%
        width:$nathriaProgressWidth; // down * max%
    height:100%;
    background-image:url(../images/progress/nathria.png);
    background-position:top left;
    border-right: 1px $gold solid;
    border-left: 1px $gold solid;
}

@media only screen and (max-width: 769px){
    .progressContainerNathria {
        width:220px;
        border: 1px solid$gold;
        margin: 0 auto;
    }
    
}