@import "../styles/variables";

.active {
    color:green;
}

.inactive {
    color:red;
}

.logo {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 80px;
    margin-bottom: 50px;
}

.title {
    padding-top: 10px;
    padding-left: 15px;
    color: $offwhite;
}

.recruitList {
    display: grid;
    grid-template-columns: .05fr max-content;
    padding: 0;
    margin-top: 10px;
    padding-left: 15px;
    line-height: 1.1rem;
    
}

.recruitList > span:nth-child(odd) {
    //background-color: green;
    padding-right: 10px;
    
}

.recruitList > span:nth-child(even) {
    //background-color: red;
    padding-right: 20px;
    img {
        padding-right: 5px;
        width: 16px;
        height: 16px;
    }
}

.specNo {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    opacity: 0.3;
}

.specYes {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.dk {
    background-image: url(../images/class/18/deathknight.gif);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 23px;
    line-height: 20px;
    color: $dk;
    text-transform: uppercase;
    font-size: .7rem;
}

.dh {
    background-image: url(../images/class/18/demonhunter.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 23px;
    line-height: 20px;
    color: $dh;
    text-transform: uppercase;
    font-size: .7rem;
}

.druid {
    background-image: url(../images/class/18/druid.gif);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 23px;
    line-height: 20px;
    color: $druid;
    text-transform: uppercase;
    font-size: .7rem;
}

.hunter {
    background-image: url(../images/class/18/hunter.gif);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 23px;
    line-height: 20px;
    color: $hunter;
    text-transform: uppercase;
    font-size: .7rem;
}

.mage {
    background-image: url(../images/class/18/mage.gif);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 23px;
    line-height: 20px;
    color: $mage;
    text-transform: uppercase;
    font-size: .7rem;
}

.monk {
    background-image: url(../images/class/18/monk.gif);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 23px;
    line-height: 20px;
    color: $monk;
    text-transform: uppercase;
    font-size: .7rem;
}

.paladin {
    background-image: url(../images/class/18/paladin.gif);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 23px;
    line-height: 20px;
    color: $paladin;
    text-transform: uppercase;
    font-size: .7rem;
}

.priest {
    background-image: url(../images/class/18/priest.gif);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 23px;
    line-height: 20px;
    color: $priest;
    text-transform: uppercase;
    font-size: .7rem;
}

.rogue {
    background-image: url(../images/class/18/rogue.gif);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 23px;
    line-height: 20px;
    color: $rogue;
    text-transform: uppercase;
    font-size: .7rem;
}

.shaman {
    background-image: url(../images/class/18/shaman.gif);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 23px;
    line-height: 20px;
    color: $shaman;
    text-transform: uppercase;
    font-size: .7rem;
}

.warlock {
    background-image: url(../images/class/18/warlock.gif);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 23px;
    line-height: 20px;
    color: $warlock;
    text-transform: uppercase;
    font-size: .7rem;
}

.warrior {
    background-image: url(../images/class/18/warrior.gif);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 23px;
    line-height: 20px;
    color: $warrior;
    text-transform: uppercase;
    font-size: .7rem;
}

@media only screen and (max-width: 600px){
    .recruitList {
        display: grid;
        grid-template-columns: .5fr .3fr;
    }
    .logo {
        width: 30%;
        margin-left: 0;
      margin-right: auto;
      display: block;
    }
 }