<div className={sidebarStyles.recruitTableRow}>
    <div className={sidebarStyles.recruitTableCell}>
        <div className={sidebarStyles.dh}>
            Dämonenjäger 
            <div className={sidebarStyles.recruitTableCell}>
                <img src={havoc} alt="dh havoc"></img>
                <img className={sidebarStyles.specNo} src={vengeance} alt="dh vengeance"></img>
            </div>
        </div>
    </div>
</div>
<div className={sidebarStyles.recruitTableRow}>
    <div className={sidebarStyles.recruitTableCell}>
        <div className={sidebarStyles.druid}>
            Druide
            <div className={sidebarStyles.recruitTableCell}>
                <img src={havoc} alt="dh havoc"></img>
                <img className={sidebarStyles.specNo} src={vengeance} alt="dh vengeance"></img>
            </div>
        </div>
    </div>
</div>
<div className={sidebarStyles.recruitTableRow}>
    <div className={sidebarStyles.recruitTableCell}>
        <div className={sidebarStyles.warlock}>
            Hexenmeister
            <div className={sidebarStyles.recruitTableCell}>
                        <img src={havoc} alt="dh havoc"></img>
                        <img className={sidebarStyles.specNo} src={vengeance} alt="dh vengeance"></img>
                    </div>
                </div>
            </div>
        </div>
</div>
<div className={sidebarStyles.hunter}>Jäger</div>
<div className={sidebarStyles.warrior}>Krieger</div>
<div className={sidebarStyles.mage}>Magier</div>
<div className={sidebarStyles.monk}>Mönch</div>
<div className={sidebarStyles.paladin}>Paladin</div>
<div className={sidebarStyles.priest}>Priester</div>
<div className={sidebarStyles.shaman}>Schamane</div>
<div className={sidebarStyles.rogue}>Schurke</div>
<div className={sidebarStyles.dk}>Todesritter</div>    